<div class="container">
    <div class="header">

        <div class="left">
            <div class="logo">
                <img src="assets/images/logo-removebg-preview.png" alt="">
                <h3>ShoppingCart</h3>  
            </div>
    
            <div class="search">
                <input type="text" class="input">
                <img src="assets/images/search.jpg" alt="">
            </div>
    
        </div>
        


        <div class="right">
            <div class="cart">
                <img src="assets/images/newcart.png"  routerLink="/cart">
                <div class="button">
                    <button class="btn btn-default">{{len}}</button>
                </div>
            </div>
    
            
                <div
                class="btn-group" 
                appDropdown style="background-color:red;">
                <button
                  type="button"
                  class="dropdown-toggle" style="background-color:blue; border:0;">
                  <i class="fas fa-user fa-2x"></i><span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a routerLink="/login" style="cursor: pointer;">Login</a></li>
                  <li><a routerLink="/register" style="cursor: pointer;" >Register</a></li>
                  <li><a routerLink="/login" style="cursor: pointer;" (click)="logout()">logout</a></li>
                  
                </ul>
              </div>
            </div>
        

        
        
    </div>
</div>
