*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    width:100%;
   
}

img{
    height:100%;
    width:100%;
    padding-right: 20px;
   
}



.header{
    height: 80px;
    width:100%;
    background-color:blue;
    opacity: 0.7;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
  
}



.logo{
    
    height:80px;
    width:120px;
    display: flex;
    align-items: center;
    opacity:1;
}

img{
    height:100%;
    width:100%;
    padding-right: 20px;
   
}


h3{
    color:white;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
       
   
}
.left{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
}
.home{
    margin-left: 200px;
    color:white;
    font-weight: bolder;
}

.btn{
    width: 100px;
     margin-right:50px;
}

i{
    display: flex;
    justify-content: start;
    align-items: center;
 }

.cart{
       margin-top:10px;
}

.button{
    position:relative;
    left:40px;
    bottom:30px;
   
}


img{
    height: 70px;
    width: 100px;
}


.btn{
    width:30px;
    background-color:blue;
    border: 0;
    outline: 0;
    color:rgb(239, 237, 237);
    font-weight: bolder;
}

.usericon {
    display: flex; 
    align-items: center;
    justify-content: center;
    
}
.dropdown-menu{
    position: absolute;
    transform: translate(-120px, 0px);
    width:10px;
}

.dropdown-menu a{
    font-size: larger;
    color:black;  
    font-weight: bolder;
}


.dropdown-menu a:hover{
    color:white;
    background-color: black;
    font-weight: bolder;
}



.btn-group{
    margin-right: 30px;
}